# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python egg files
*.egg
*.egg-info/
dist/
build/

# Ignore coverage reports
htmlcov/
.coverage
.tox/
.nox/

# Ignore mypy type checker reports
.mypy_cache/
.dmypy.json
dmypy.json

# Ignore pytest cache
.pytest_cache/